.footer {
    display: flex;
    align-items: center;
    margin-top:3rem;
    position: relative;
    
    background:var(--black);
  }
  .f-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: large;
    margin-top:2rem;
    gap: 1.5rem;
    color: var(--orange);
  }
  .f-icons {
    display: flex;
    gap: 2rem;
  }
  
 